body {

    margin: 0;
    text-align: center;

}

.div {

    display: inline-flex;

}

.red {

    padding: 100px;
    margin: 10px;
    background-color: red;

}

.red2 {

    padding: 100px;
    padding-bottom: 150px;
    margin: 10px;
    background-color: rgb(216, 17, 50);

}